.UploadedSidebar {
  width: 280px;
  height: 100vh;
  border-right: 0.5px solid #dfdede;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  // the header side
  .UploadedSidebar_header_logo_vs_closeIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    .logo {
      width: 150px;
    }
    .SdiebarcloseIcon {
      cursor: pointer;
      display: none;
    }
  }

  //user details
  .UploadedRecNavbar_user_desktop {
    display: flex;
    img {
      margin-right: 1rem;
    }
    .UploadedRecNavbar_user_desktop_nameDetails {
      width: 125px !important;
      height: 48px;
      position: relative;
      .UploadedRecNavbar_user_desktop_name_arr {
        display: flex;
        .name {
          font-family: "Kanit";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 20px;
          margin-right: 0.5rem;
          color: #454545;
        }
      }
      .workspace_name {
        font-family: "Kanit";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #a9a9a9;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .UploadedSidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    //header side
    .UploadedSidebar_header_logo_vs_closeIcon {
      .SdiebarcloseIcon {
        display: block;
      }
    }
  }
}
