$primary-color: #ffffff;

@mixin flexCenter {
  display: flex;
  align-items: center;
}

.table {
  width: 100%;
  margin: 1rem;
}

.table__row {
  padding: 0.5rem;
}

.listbox {
  background-color: $primary-color;
}

.record__list {
  display: flex;
}

.name, .table__data_agent, .date, .analysis, .lenght {
  width: 15rem;
}

.record__image_div {
  @include flexCenter;
  gap: 1rem;
}

.image {
  width: 1.5rem;
}
